name: Test Vagrant infra

on:
  push:
    branches: [ develop ]
  pull_request:

jobs:
  vagrant-test:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Destroy old VMs
        run: |
          vagrant destroy -f
          if ($LASTEXITCODE -ne 0) {
            Write-Host "vagrant destroy failed, ignore"
          }

      - name: Vagrant up (test)
        run: |
          $ErrorActionPreference = "Stop"

          vagrant up vm1-test --no-color --provision
          vagrant up vm2-test --no-color --provision
          vagrant up vm3-test --no-color --provision

      - name: Health check
        run: |
          vagrant ssh vm1-test -c "docker ps"

      - name: Destroy VMs after job
        if: always()
        run: |
          vagrant destroy -f
          if ($LASTEXITCODE -ne 0) {
            Write-Host "final destroy failed, ignore"
          }